:root {
  --green-ligth: rgb(229, 249, 189);
  --green-fluor: rgb(160, 228, 24);
  --green-dark: rgb( 127, 180, 20);
  --black-pc: rgb(82, 80, 80);
}


/* ==================================================
  general
  ================================================== */
.edge{
  border-style: solid;
}

/* ==================================================
  aligment
  ================================================== */
.center{
  text-align: center !important;
}

/* ==================================================
  margin & padding
  ================================================== */
.m-20-0{
  margin: 20px 0;
}

/* ==================================================
  home
  ================================================== */
.div-title-home{
  text-align: center;
  margin-bottom: 20px;
}
.title-home{
  margin: 20px;
  color: var(--green-dark);
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.map {
  margin: auto;
  height: 470px;
  width: 90%;
}

/* ==================================================
  modal
  ================================================== */
.my-modal {
  border: 1px solid var(--black-pc);
  max-width: 500px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background:  white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--gray-shadow);
}

.modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px;
  top: -25px;
  border: 2px solid white;
  border-radius: 50%;
  background: var(--main-green);
  color: white;
  cursor: pointer;
  background-image: url("https://png.icons8.com/wired/38/000000/delete-sign.png");
}
.modal-close:after {
  font-weight: bold;
  font-size: 25px;
}

.title-modal{
  margin: 20px;
  text-align: center;
  color: var(--green-dark);
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
}

.modal-body{
  font-family: 'Forum', cursive;
}

.btn-welcome {
  margin: 5px;
  width: 60%;
  border: none;
  border-radius: 10px;
  /*border: solid 3px var(--black-pc);*/
  background-color: var(--green-dark);
  padding: 5px 15px;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
  color: white;
  position:relative;
  box-shadow: 5px 5px 0px var(--gray-shadow-dark);

  -webkit-transition: background 1s, top 0.2s; /* Safari */
  transition: background 1s, top 0.2s;
}
.btn-welcome:hover {
  top: 3px;
  left: 3px;
  cursor: pointer;
  background: var(--rose-pc);
  box-shadow: 2px 2px 0px var(--gray-shadow-dark);
}
