:root {
  --green-ligth: rgb(229, 249, 189);
  --green-fluor: rgb(160, 228, 24);
  --green-dark: rgb( 127, 180, 20);
  --black-pc: rgb(82, 80, 80);
}


/* ==================================================
  general
  ================================================== */
.edge{
  border-style: solid;
}

/* ==================================================
  aligment
  ================================================== */
.center{
  text-align: center !important;
}

/* ==================================================
  margin & padding
  ================================================== */
.m-20-0{
  margin: 20px 0;
}

/* ==================================================
  home
  ================================================== */
.div-title-home{
  text-align: center;
  margin-bottom: 20px;
}
.title-home{
  margin: 20px;
  color: var(--green-dark);
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.map {
  margin: auto;
  height: 470px;
  width: 90%;
}

/* ==================================================
  modal
  ================================================== */
.title-modal{
  color: var(--green-dark);
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
}

.modal-body{
  font-family: 'Forum', cursive;
}

.btn-welcome {
  margin: 5px;
  width: 60%;
  border: none;
  border-radius: 10px;
  /*border: solid 3px var(--black-pc);*/
  background-color: var(--green-dark);
  padding: 5px 15px;
  font-size: 30px;
  font-family: 'Fredericka the Great', cursive;
  color: white;
  position:relative;
  box-shadow: 5px 5px 0px var(--gray-shadow-dark);

  -webkit-transition: background 1s, top 0.2s; /* Safari */
  transition: background 1s, top 0.2s;
}
.btn-welcome:hover {
  top: 3px;
  left: 3px;
  cursor: pointer;
  background: var(--rose-pc);
  box-shadow: 2px 2px 0px var(--gray-shadow-dark);
}
